body {
  background-color: #f1f3f6;
}

.jumbotron {
  background-color: #f1f3f6;
  padding: 2rem 2rem;
}

.input-content .custom-select {
  flex-basis: 28%;
}

.input-content .form-control {
  flex-basis: 28%;
}

button {
  min-width: 80px;
}

.navbar {
  background-color: #8ec6c5;
}
